@import '../assets/styles/colors';

.content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex: 1;

  header {
    flex: none;
    height: 108px;
  }

  main {
    flex: 0 1 100%;
  }

  footer {
    flex: none;
    height: 108px;

    .footer-border {
      background: url('../assets/images/dialog_top_border.png') center 0 repeat-x transparent;
      height: 28px;
    }

    .footer-content {
      background-color: transparentize($rpi-black, .25);
      height: calc(100% - 28px);
      width: 100%;
      padding: 0 10px;

      .tool-button {
        height: 60px;
        width: 60px;
        margin: 10px 10px 0 0;
        line-height: 60px;
        text-align: center;
        font-size: 40px;
        cursor: pointer;
        transition: background-color .1s;

        &:hover {
          background-color: transparentize($rpi-white, .9);
        }

        &:active,
        &.active {
          background-color: transparentize($rpi-white, .8);
        }

        &.active {
          box-shadow: inset 0 -5px 0 -3px $rpi-purple-a400;
        }
      }
    }
  }
}

.welcome-message {
  white-space: pre-wrap;
}
