$rpi-transparent: transparent;
$rpi-black: #000;
$rpi-white: #fff;

$rpi-purple: #eae0e8;
$rpi-purple-50: #eae0e8;
$rpi-purple-100: #cab3c5;
$rpi-purple-200: #a7809f;
$rpi-purple-300: #844d79;
$rpi-purple-400: #69265c;
$rpi-purple-500: #4f003f;
$rpi-purple-600: #480039;
$rpi-purple-700: #3f0031;
$rpi-purple-800: #360029;
$rpi-purple-900: #26001b;
$rpi-purple-a100: #ff61c4;
$rpi-purple-a200: #ff2eb1;
$rpi-purple-a400: #fa009c;
$rpi-purple-a700: #e0008c;

$rpi-blue: #e1e7ec;
$rpi-blue-50: #e1e7ec;
$rpi-blue-100: #b5c3d0;
$rpi-blue-200: #839bb1;
$rpi-blue-300: #517392;
$rpi-blue-400: #2c557a;
$rpi-blue-500: #073763;
$rpi-blue-600: #06315b;
$rpi-blue-700: #052a51;
$rpi-blue-800: #042347;
$rpi-blue-900: #021635;
$rpi-blue-a100: #6d97ff;
$rpi-blue-a200: #3a73ff;
$rpi-blue-a400: #074fff;
$rpi-blue-a700: #0044ec;

$rpi-yellow: #fcf2e7;
$rpi-yellow-50: #fcf2e7;
$rpi-yellow-100: #f8dec3;
$rpi-yellow-200: #f3c89c;
$rpi-yellow-300: #eeb274;
$rpi-yellow-400: #eaa256;
$rpi-yellow-500: #e69138;
$rpi-yellow-600: #e38932;
$rpi-yellow-700: #df7e2b;
$rpi-yellow-800: #db7424;
$rpi-yellow-900: #d56217;
$rpi-yellow-a100: #ffffff;
$rpi-yellow-a200: #ffe3d4;
$rpi-yellow-a400: #ffc3a1;
$rpi-yellow-a700: #ffb287;

$rpi-red: #ede0e0;
$rpi-red-50: #ede0e0;
$rpi-red-100: #d1b3b3;
$rpi-red-200: #b38080;
$rpi-red-300: #944d4d;
$rpi-red-400: #7d2626;
$rpi-red-500: #660000;
$rpi-red-600: #5e0000;
$rpi-red-700: #530000;
$rpi-red-800: #490000;
$rpi-red-900: #380000;
$rpi-red-a100: #ff6e6e;
$rpi-red-a200: #ff3b3b;
$rpi-red-a400: #ff0808;
$rpi-red-a700: #ee0000;

$rpi-green: #eaf5ed;
$rpi-green-50: #eaf5ed;
$rpi-green-100: #cae5d3;
$rpi-green-200: #a7d4b6;
$rpi-green-300: #84c299;
$rpi-green-400: #69b583;
$rpi-green-500: #4fa86d;
$rpi-green-600: #48a065;
$rpi-green-700: #3f975a;
$rpi-green-800: #368d50;
$rpi-green-900: #267d3e;
$rpi-green-a100: #beffcf;
$rpi-green-a200: #8bffa9;
$rpi-green-a400: #58ff83;
$rpi-green-a700: #3fff70;

$rpi-grey: #e4e5e6;
$rpi-grey-50: #e4e5e6;
$rpi-grey-100: #bcbec0;
$rpi-grey-200: #909396;
$rpi-grey-300: #63676c;
$rpi-grey-400: #41474d;
$rpi-grey-500: #20262d;
$rpi-grey-600: #1c2228;
$rpi-grey-700: #181c22;
$rpi-grey-800: #13171c;
$rpi-grey-900: #0b0d11;
$rpi-grey-a100: #568eff;
$rpi-grey-a200: #236cff;
$rpi-grey-a400: #0050ef;
$rpi-grey-a700: #0047d5;
